.pricing {
       background-color: #b7e0e7;
       padding: 30px 20px;
     }
     
     .pricing__container {
       max-width: 1200px;
       margin: 0 auto;
       display: flex;
       flex-wrap: wrap;
       justify-content: space-between;
     }
     
     .pricing__card {
       background-color: #fff;
       border-radius: 10px;
       box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
       width: 25%;
       margin-bottom: 40px;
       padding: 30px;
       text-align: center;
       transition: all 0.3s ease-in-out;
     }
     
     .pricing__card:hover {
       transform: scale(1.05);
       box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
     }
     
     .pricing__title {
       font-size: 24px;
       font-weight: bold;
       margin-bottom: 20px;
     }
     
     .pricing__price {
       color: #ff6600;
       font-size: 40px;
       margin: 0;
     }
     
     .pricing__price span {
       font-size: 20px;
     }
     
     .pricing__divider {
       border: none;
       border-top: 1px solid #ccc;
       margin: 20px 0;
     }
     
     .pricing__list {
       list-style: none;
       padding: 0;
       margin: 0;
     }
     
     .pricing__list li {
       margin: 10px 10px;
       display: flex;
       align-items: center;
       justify-content: left;
     }
     
     .pricing__list li svg {
       margin-right: 10px;
     }
     
     .pricing__list li strong {
       font-weight: bold;
       margin-right: 5px;
     }
     
     .pricing__button {
       background-color: #ff6600;
       border: none;
       border-radius: 30px;
       color: #fff;
       cursor: pointer;
       font-size: 16px;
       font-weight: bold;
       margin-top: 20px;
       padding: 10px 20px;
       transition: all 0.3s ease-in-out;
       width: 300px;
     }
     
     .pricing__button:hover {
       background-color: #e65c00;
     }
     .cross{
      opacity: 0.5;
     }
     .heading{
      font-size: 50px;
      background-color: rgb(43, 44, 44);
      color: #fff;
      border: none;
      border-radius: 10px;
      padding:30px 0;
     }